*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: #C8EFFF;
}

.container {
   min-height: 100vh;
   max-width: 500px;
   margin: 1rem auto;
   background-color: azure;
   border-radius: 20px;
}
header {
    min-height: 30vh;
    color: #000069;
    border-radius: 20px 20px 0 0;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.refresh {
    text-align: right;
    padding: 1rem;
    font-size: 2rem;
}
.day {
    bottom: 0;
}
h1 {
    text-align: left;
    padding: 0.75rem 0.75rem 0;
}
#date {
    text-align: left;
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
}
.add-item {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 1rem;
    overflow: hidden;
    max-width: 500px;
    width: 100%;
    color: #000069;
}
input[type=text] {
    padding: 0.5rem;
    outline: none;
    border: none;
    width: 100%;
}
.add-item:focus{
    outline-color: #000069;
}
ul{
   margin: 1rem 0;
}

ul li {
    list-style-type: none;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    align-items: center;
    color: #000069; 
}
ul li .delete {
    margin-left: auto;
}
ul li .done {
    padding-right: 0.5rem;
}
.strike {
    text-decoration-line: line-through;
}
.fa {
    color: #0042F8;
}
.fa:hover {
    color: #000069;
}
@media only screen and (max-width: 500px) {
.container {
    margin: auto;
    border-radius: none;
}
}
